<h1 class="h3 mb-3 fw-normal">Reg</h1>
<div class="form-floating mb-2">
  <input type="text" class="form-control" id="floatingAccount" placeholder="Account" #login>
  <label for="floatingAccount">Set Account Name</label>
</div>
<div class="form-floating mb-2">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #password>
  <label for="floatingPassword">Set Password</label>
</div>
<div class="form-floating mb-2">
  <input type="password" class="form-control" id="floatingRepeatPassword" placeholder="Repeat Password" #passwordRepeat>
  <label for="floatingRepeatPassword">Repeat Password</label>
</div>
<button class="w-100 btn btn-primary m-1" (click)='signUp()'>Sign Up</button>