<div class="row mt-3">
    <div class="col">
        <app-field id='description' title='description' [data]='task.description' (changed)='changeData($event)'></app-field>
    </div>
    <div class="col">
        <app-field id='status' title='status' [data]='task.status' (changed)='changeData($event)'></app-field>        
    </div>
</div>
<div>
    <div class='extra-data'>
        <app-field *ngFor='let field of fields' 
            [title]='field.fieldName' 
            [data]='field.fieldValue'
            [type]='field.fieldType' 
            (changed)='changeData($event)'
        >
        <button class="btn btn-primary m-1" (click)='deleteField(field.fieldName)'>Delete field</button>
        </app-field>
    </div>
</div>
<div class="mb-3">
    <div class="form-floating mb-2">
        <input type="text" class="form-control" id="floatingCreateNewField" placeholder="Create new field" #fieldNameInput>
        <label for="floatingCreateNewField">Create new field</label>
    </div>
    <button type="submit" class="btn btn-outline-primary" (click)='addField(fieldNameInput)'>Add field</button> 
</div>
<div class="controlled-buttons">
    <button type="submit" class="btn btn-primary" *ngIf='isDataChanged' (click)='submitTask()'>{{ action }}</button>
</div>
<hr>
<button type="submit" class="btn btn-primary" (click)='goToList()'>Go to task list</button>