:host {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .message {
        display: list-item;
        list-style-type: disc;
        list-style-position: inside;
    }

    .close {
        cursor: pointer;
    }
}