.navbar-dark {
    .navbar-nav {
        .nav-item {
            &:hover {
                background-color: #EEE;
            }
            .nav-link {
                color: #fff;
                font-size: 1.2rem;
                &:hover {
                    color: #0d6efd;
                }
            }
        }
    }
}