<h2 class="heading">{{title}}</h2>

<div class="form-floating">
  <input type="text" class="form-control" id="floatingAccount" placeholder="Account">
  <label for="floatingAccount">Account</label>
</div>

<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>

<div class="checkbox ">
  <label>
    <input type="checkbox" value="remember-me"> Remember me
  </label>
</div>
<button class="btn btn-primary m-1" (click)='login()'>Sign in</button>
<button class="btn btn-secondary m-1" (click)='goToRegister()'>Sign Up</button>