.card {
.btn-group {
float: right;
}
}


$content-padding: 3px 10px;

.wrapper {
display: flex;
align-items: stretch;
justify-content: flex-start;

.checkbox-container {
padding: $content-padding;
display: flex;
align-items: center;
}

.description {
padding: $content-padding;

&.completed {
text-decoration: line-through;
}
}

.button-container {
padding: $content-padding;
justify-self: flex-end;
margin-left: auto;
}
}