$content-padding: 3px 10px;

.wrapper {
  padding: 0px;
  border: 1px solid black;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;

  .checkbox-container {
    padding: $content-padding;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    // flex-basis: content;
  }

  .description {
    padding: $content-padding;
    // flex-basis: content;

    &.completed {
      text-decoration: line-through;
    }
  }

  .button-container {
    padding: $content-padding;
    justify-self: flex-end;
    margin-left: auto;
    // width: 100%;
    // flex-basis: 100%;

    // justify-self: flex-start;

    button {
      margin-left: 3px;
    }
  }
}
